@media screen and (min-width: 319px) and (max-width: 900px){
    .hero-content{
        grid-template-columns: 1fr;
    }

    .headline{
        font-size: 35px;
    }

    .hero-contenttext{
        padding: 100px 15px;
    }

    .overlay{
        background: transparent;
    }
}